.form-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    margin: auto;
    max-width: 500px;
}

.btn {
    margin-top: 15px;
}

.media-container {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    justify-content: space-between;
}