    <div class="container">

        <form class="form-container" [formGroup]="signupForm" (submit)="signupSubmit()">
            <mat-card class="signup">
                
                <h1>Sign Up</h1>
                
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
                <span *ngIf="!signupForm.get('username')!.valid && signupForm.get('username')!.touched" class="help-block">Please enter a valid username</span>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControlName]="'email'">
                </mat-form-field>
                <span *ngIf="!signupForm.get('email')!.valid && signupForm.get('email')!.touched" class="help-block">Please enter a valid email</span>

                
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <span *ngIf="!signupForm.get('password')!.valid && signupForm.get('password')!.touched" class="help-block">Please enter a valid password</span>


                <button class="btn" [disabled]="signupForm.invalid" mat-flat-button extended color="primary" type="submit">Sign Up</button>
                
                <span style="padding-top: 20px">Existing user? <a routerLink="/login">Log In</a></span>

            </mat-card>
        </form>
        
        
    </div>